* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #04070F; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.image-container {
    position: relative;
    padding: 5px;
}


.image-container img {
    width: 50px;
    height: auto;
    position: relative;
}

.transparent-box {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: rgba(15, 22, 43, 0.9); 
    padding: 30px; 
    width: 30%;
    height: auto; 
    border-radius: 15px; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7); 
    display: none; 
    color: white; 
}

.header {
    display: flex; 
    align-items: center;
}

.transparent-box .box-image {
    width: 50px; 
    height: auto;
    margin-right: 10px; 
}

.transparent-box h1 {
    font-family: 'Roboto', sans-serif; 
    font-size: 28px; 
    color: white; 
    margin: 0; 
    text-align: left; 
}


.main-text {
    margin-top: 15px; 
    font-family: 'Arial', sans-serif; 
    font-size: 18px; 
    text-align: left; 
}

.instructions {
    list-style: none; 
    padding-left: 0; 
    margin-top: 15px; 
}


.instructions li {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    color: #FFFFFF; 
    margin-bottom: 10px; 
}

#copyButton {
    margin-top: 20px; 
    padding: 10px 15px; 
    background-color: #2D5AF3; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
}

#copyButton:hover {
    background-color: #1a3c7a; 
}


.title-rule {
    border: none; 
    border-top: 2px solid #2D5AF3; 
    width: 100%; 
    margin: 10px 0; 
}


.image-container::before {
    content: "";
    position: absolute;
    top: -3px; 
    left: -3px; 
    border-top: 1px solid #3058FD; 
    border-left: 1px solid #3058FD;
    width: 15px; 
    height: 15px; 
}

.image-container::after {
    content: "";
    position: absolute;
    top: -3px; 
    right: -3px; 
    border-top: 1px solid #3058FD; 
    border-right: 1px solid #3058FD;
    width: 15px; 
    height: 15px; 
}


.image-container .bottom-left {
    content: "";
    position: absolute;
    bottom: -3px; 
    left: -3px; 
    border-bottom: 1px solid #3058FD; 
    border-left: 1px solid #3058FD;
    width: 15px; 
    height: 15px; 
}


.image-container .bottom-right {
    content: "";
    position: absolute;
    bottom: -3px; 
    right: -3px; 
    border-bottom: 1px solid #3058FD; 
    border-right: 1px solid #3058FD;
    width: 15px; 
    height: 15px; 
}

.image-container .horizontal-line {
    position: absolute;
    left: -1px; 
    top: 0; 
    height: 1px; 
    width: calc(100% + 2px); 
    background-color: #3058FD; 
    animation: scan 2s linear infinite; 
}

@keyframes scan {
    0% {
        top: 0; 
    }
    50% {
        top: calc(100% - 1px);
    }
    100% {
        top: 0; 
    }
}
